@use '@angular/material' as mat;

@import 'bootstrap/scss/bootstrap';
@import 'styles/tokens';
@import 'styles/base';
@import 'styles/material-overrides';

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: (
        plain-family: Inter,
        brand-family: Inter,
        bold-weight: 600,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );
}
